.single-cart-item .item-title {
    font-size: 16px;
}

.single-cart-item .item-remove-btn {
    right: -20px;
    top: -20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 28px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}