.single-cart-item .item-title {
    font-size: 16px;
}

.single-cart-item .item-remove-btn {
    right: -15px;
    top: -15px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 28px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

.single-cart-item {
    border-radius: 0;
}

.cart-item-wrap .col-12:last-child .single-cart-item{
    margin-bottom:0 !important;
}

/* .single-cart-item:last-child{
    margin-bottom:0 !important;
} */